*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --green: #128C76;
    --pink: #e26382;
    --white: #fff;
    --black: #333;
}

.main {
    width: 100%;
    min-height: 200vh;
    overflow: hidden;
}

nav {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav h1 {
    color: var(--green);
    position: absolute;
    left: 80px;
}
.contents {
    display: flex;
    justify-content: center;
    align-items: center;
}
.items {
    margin-left: 40px;
    list-style: none;
    padding-top: 10px;
}
.items a{
    text-decoration: none;
    color: var(--black);
}
.nav_btns {
    position: absolute;
    right: 50px;
}
.fa-bars {
    opacity: 0;
}
.login {
    padding: 8px 30px;
    background-color: var(--green);
    color: var(--white);
    border: .5px solid var(--green);
    outline: none;
    user-select: none;
    transition: .5s all ease-in-out;
}
.login:hover {
    background-color: transparent;
    color: var(--pink);
    border: 2px solid var(--pink);
}
.register {
    padding: 8px 12px;
    background-color: transparent;
    border: 2px solid var(--pink);
    color: var(--pink);
    outline: none;
    user-select: none;
    margin-left: 20px;
    transition: .5s all ease-in-out;
}
.register:hover {
    background-color: var(--green);
    color: var(--white);
    border: .5 px solid var(--green);
}
.sidebar {
    width: 300px;
    min-height: 83vh;
    border: 2px solid red;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 9999;
}

.container_first {
    width: 100%;
    min-height: 70vh;
    background: url(./img/background_sectiion.png) no-repeat center/cover;
    position: relative;
}
.round {
    width: 300px;
    height: 300px;
    background-color: #5c81cc94;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 150px;
}
.container_first h1,p,button {
    z-index: 999;
}
.txt_cont_first{
    color: var(--white);
    position: absolute;
    top: 130px;
    left: 250px;
}
.browse {
    color: var(--white);
    position: absolute;
    top: 250px;
    left: 250px;
}
.start {
    padding: 8px 12px;
    background-color: var(--green);
    border: .5px solid var(--green);
    outline: none;
    transition: .5s all ease-in-out;
    position: absolute;
    top: 330px;
    left: 250px;
    color: var(--white);
}
.start:hover{
    background-color: transparent;
    color: var(--pink);
    border: .5px solid var(--pink);
}
.container_sec {
    width: 100%;
    min-height: 120vh;
}
.offers {
    color: var(--black);
    text-align: center;
    transform: translateY(120px);
}
.smth {
    color: #3333335b;
    text-align: center;
    margin: 150px;
}

.cards_sec{ 
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
}

.card {
    width: 300px;
    height: 400px;
    transform: translateY(-50px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.card img {
    width: 100%;
    height: 200px;
}
.card h3 {
    margin: 20px 20px;
    color: var(--black);
}

.card a {
    margin-left: 20px;
    opacity: .7;
    color: var(--black);
    text-decoration: none;
}
.card p {
    color: var(--black);
    transform: translateY(20px) translateX(20px);
}
.price{
    margin-left: 20px;
    opacity: 1 !important;
    color: var(--green) !important;
    position: relative;
    top: 40px;

}
.all {
    padding: 12px  15px;
    border: 1px solid var(--pink);
    outline: none;
    user-select: none;
    color: var(--pink);
    background-color: transparent;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    transition: .5s all ease-in-out;
    transform: translateX(550px);
}
.all:hover{
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);

}




















/* =============================Muhammad====================== */
.graph{
background-image:url(img/a031250d0b127b4ad6788e52c2bbcff5.jpg);
width: 100%;
height: 800px;
background-repeat: no-repeat;
background-size: cover;
}
.graph img{
    transform: translateX(350px)
    translateY(180px);

}
.textGraph{
    width: 570px;
    height: 260px;
    color: #fff;

    font-weight: bolder;
    font-family: "Josefin Sans";
    transform: translateX(350px)
    translateY(200px);
    margin-top: 20px;

}
.textGraph h1{
    font-size: 58px;
}


.CTA{
    width: 100%;
    height: 781px;
    font-family: "Josefin Sans";
}
.CTAtext h1{
    font-size: 48px;
    width: 570px;
    height: 200px;
    transform: translateX(300px)
    translateY(200px);

}
.CTAtext h4{
    width:570px ;
    height: 100px;
    transform: translateX(300px)
    translateY(150px);
    margin-top: 20px;
}

.apply-btn {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: green;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
 
  }
  .CATbutton{
    transform: translateX(300px)
    translateY(150px);
  }
  
  .apply-btn:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .apply-btn:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
    
    
  }
  .women{
    width: 500px;
    height: 500px;
    transform: translateX(1030px)
    translateY(-300px);
   


  }
  footer{
    background-color: lightgray;
    width: 100%;
    height: 420px;
  }
  .footer-contaiener{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center;
    align-content: center; */
    text-align: center;
    transform: translateY(100px);
  
  }
  .creater{
    transform: translateY(220px);
    text-align: center;
  }

  .img-line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    left: 48.5vw;
    }
    .img-line-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        left: 48.5vw;
        }
    input{
        border: solid ;
    }

    footer .footer-contaiener .footer-box-1 form  button img {
        width: 20px;
        height: 20px;
    }
  


   
/* =============================Muhammad====================== */
